DB_ADAPTER=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=app_development
DB_USERNAME=postgres
DB_PASSWORD=postgres

APP_DATABASE_PASSWORD=pr0duct1Onp@SS

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=password
PGADMIN_PORT=5050

REDIS_IP=localhost
REDIS_PORT=6379
